# Managed by pyinfra (machine/templates/runners.env.j2). Read by mac-worker and github-app-token.
# Not secret, but only `ci` needs it.
GITHUB_REPO={{ host.data.github_repo }}
GITHUB_APP_ID={{ host.data.github_app_id }}
GITHUB_APP_INSTALLATION_ID={{ host.data.github_app_installation_id }}
TART_IMAGE={{ host.data.tart_image }}
VM_CPU={{ host.data.vm_cpu }}
VM_MEMORY_MB={{ host.data.vm_memory_mb }}
EXTRA_TART_RUN_ARGS={{ host.data.extra_tart_run_args }}
BUILD_LABELS={{ host.data.build_labels | join(',') }}
RELEASE_LABELS={{ host.data.release_labels | join(',') }}
RUNNER_VERSION={{ host.data.runner_version }}
RUNNER_SHA256={{ host.data.runner_sha256 }}
RUNNER_CACHE=/Users/{{ host.data.ci_user }}/mac-mini-ci/runner
SIGNING_DIR=/Users/{{ host.data.ci_user }}/mac-mini-ci/signing
POLL_SECONDS=20
WATCHDOG_SECONDS=30
IDLE_TIMEOUT_SECONDS=600
BACKOFF_SECONDS=60
